.nav, .pagination, .carousel a { cursor: pointer; }

.container .jumbotron{
	color:#31c5bc;
	background-color: #efeedb;
	border-radius: 0;
}

.container .navbar{
	background-color: #efeedb;
	margin-bottom: 0;
	border-radius: 0;
}

.container .navbar a, .navbar-default .navbar-nav>li>a {
	color:#31c5bc;
}

.container .navbar a:hover, .navbar-default .navbar-nav>li>a:hover{
	color:white;
	background-color: #727c15;
}

.maincontent{
	padding: 3% 0% 0 10%;
}

.maincontent p{
	font-size: 1.8em;
}

.maincontent a{
	color: #31c5bc;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #c3d324;
}

h1{
	color:#31c5bc;
}

.editheader h1{
	float:left;
}

.editheader a{
	float:left;
	margin: 2% 0 0 15%;
}

.btn{
	background-color: #c3d324;
	color: #FFF;
	text-shadow: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: repeat-x;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

}

.btn:hover, .btn:focus {
	color: #FFF;
	background-color: #727c15;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.btn[disabled] {
	color: #FFF;
	background-color: #c3d324;
	opacity:.5;
}



input[type = "text"].form-control, input[type = "email"].form-control, textarea.form-control{
	width:25%;
}

.projectform input[type = "text"].form-control, .projectform input[type = "email"].form-control,  .projectform textarea.form-control{
	width:33%;
}

.form-group span{
	top:8px;
}


.form-horizontal label{
	font-weight: bold;
}

.form-horizontal .form-group{
	margin: 2px 0 2px 0;
}

.form-horizontal .control-label{
	text-align: left;
	margin-bottom: 5px;
	right: 15px;
}

.editform .btn.delete{
	margin: 1% 0% 0% 10%;
	float: left;
}

.editform .btn.save{
	margin: 1% 75% 0% 0%;
	float: right;
}

.projectform .btn.delete{
	margin: 1% 0% 0% 17%;
	float: left;
}

.projectform .btn.save{
	margin: 1% 67% 0% 0%;
	float: right;
}

.teamlist{
	width:33%;
	border: solid 1px #31c5bc;
	border-radius: 8px;
}

.teamlist button.btn.add{
	margin: 4px 0px 0px 25px;
}

.teamlist button.btn.remove{
	margin: 5px 0px 4px 0px;
}

select.form-control{
	width:50%;
	float:left;
	margin: 5px 0px 0px 25px;
}

.teamlist ul{
	margin: 20px 0px 0px 17px;
	list-style: none;
}

.teamlist ul li{
	margin: 0px 0px 0px 0px;
}

.teamlist input[type="checkbox"]{
	margin: 0px 5px 0px 0px;
}

