.nav, .pagination, .carousel a { cursor: pointer; }

.panel-body{
	padding: 0px;
}

.container .jumbotron{
	color:#31c5bc;
	background-color: #efeedb;
	border-radius: 0;
}

.container .navbar{
	background-color: #efeedb;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-default {
	border-color: #efeedb;
}

.container .navbar a, .navbar-default .navbar-nav>li>a {
	color:#31c5bc;
}

.container .navbar a:hover, .navbar-default .navbar-nav>li>a:hover{
	color:white;
	background-color: #727c15;
}

.maincontent{
	padding: 3% 0% 0 10%;
}

.maincontent p{
	font-size: 1.8em;
}

.maincontent a{
	color: #31c5bc;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #c3d324;
}

h1{
	color:#31c5bc;
}

.editheader h1{
	float:left;
}

.editheader a{
	float:left;
	margin: 2% 0 0 6%;
}

.btn{
	background-color: #c3d324;
	color: #FFF;
	text-shadow: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: repeat-x;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;

}

.btn:focus {
	color: #FFF;
	background-color: #c3d324;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.btn:hover {
	color: #FFF;
	background-color: #727c15;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}


.btn[disabled] {
	color: #FFF;
	background-color: #c3d324;
	opacity:.5;
}



input[type = "text"].form-control, input[type = "email"].form-control, textarea.form-control{
	width:25%;
}

.projectform input[type = "text"].form-control, .projectform input[type = "email"].form-control,  .projectform textarea.form-control{
	width:33%;
}

.projectform .hasDatepicker{
	width:23%;
}

.form-group span{
	top:8px;
}


.form-horizontal label{
	font-weight: bold;
}

.form-horizontal .form-group{
	margin: 2px 0 2px 0;
}

.form-horizontal .control-label{
	text-align: left;
	margin-bottom: 5px;
	right: 15px;
}

.editform .btn.delete{
	margin: 1% 0% 0% 10%;
	float: left;
}

.editform .btn.save{
	margin: 1% 75% 0% 0%;
	float: right;
}

.projectform .btn.delete{
	margin: 1% 0% 0% 17%;
	float: left;
}

.projectform .btn.save{
	margin: 1% 67% 0% 0%;
	float: right;
}

.teamlist{
	width:33%;
	border: solid 1px #31c5bc;
	border-radius: 8px;
}

.teamlist button.btn.add{
	margin: 4px 0px 0px 25px;
}

.teamlist button.btn.remove{
	margin: 5px 0px 4px 0px;
}

select.form-control{
	width:50%;
	float:left;
	margin: 5px 0px 0px 25px;
}

.teamlist ul{
	margin: 20px 0px 0px 17px;
	list-style: none;
}

.teamlist ul li{
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}

.teamlist input[type="checkbox"]{
	margin: 0px 5px 0px 0px;
}

span.span-right{
	position: relative;
	float:right;
}

.panel, .panel-group .panel{
	border:none;
}

.panel a{
	width:100%;
}

.panel a:hover{
	text-decoration: none;
}

.panel .table>thead>tr>th {
	border-bottom: 2px solid #31c5bc;
}

.panel textarea{
	width:100%;
	margin-bottom: 10px;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
	border: none;
}

.panel-default>.panel-heading {
	color:#31c5bc;
	background-color: #efeedb;
	border: none;
	width: 100%;
}

.panel select, .addconvo select {
	width: 25%;
	margin: 0px 0px 5px 0px;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.convoform textarea{
	width:100%;
}

.convoform .btn{
	position: relative;
	left: 83%;
}

.convoform span{
	width:70%;
	float:left;
	position: relative;
	left: 5px;
}
	

.convoform input[type = "text"].form-control{
	width: 30%;
	float:left;
	margin-bottom: 5px;
}

.addconvo{
	margin-top:5px;
	border:1px solid #31c5bc;
	border-radius: 5px;
	padding:3px;
	width:100%;
	overflow: hidden;
	opacity:1;
/*	-webkit-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s;*/

}

/*.addconvo.ng-enter{
	opacity:0;
}

.addconvo.ng-enter-active{
	opacity:1;
}

.addconvo.ng-leave{
	opacity:1;
}

.addconvo.ng-leave-active{
	opacity:0;
}*/


.btn.showConvo{
	margin-top: 5px;
	margin-bottom: 5px;
}

.addmessage .form-group{
	position: relative;
}
.addmessage .form-group:nth-child(2){
	left:79%;
}

.addmessage label{
	width:100%;
}

.addmessage select{
	width:20%;
}

.messagegroup{
	width: 98%;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #31c5bc;
	border-radius: 5px;
	margin: 3px 0px 0px 10px;
}

.messagegroup p{
	padding:5px;
	border:1px solid #E6E6E6;
	min-height: 70px;
}

.messagegroup textarea{
	width:100%;
	padding:5px;
	min-height: 70px;
}
.convogroup img{
	float:left;
}

.editconvoform .btn{
	margin-top: 5px;
}

.editconvoform .btn.delete{
	position: relative;
	left: 61%;
}

.accordion-edit label{
	font-size: 16px;
	font-weight: normal;
}

.ui-widget-content {
	border: 1px solid #31c5bc;
}

.ui-widget-header {
	background: none;
	border: 1px solid #31c5bc;
}

.ui-datepicker-header, .ui-datepicker-title{
	background-color: #efeedb;
}

.ui-widget-content .ui-state-default{
	background: none;
	background-color: #efeedb;
	border: 1px solid #31c5bc;
}

.ui-widget-content .ui-state-default:hover{
	background-color: #c3d324;
	color: #FFF;
}

.ui-widget-content .ui-datepicker-current-day a, .ui-widget-content .ui-datepicker-today a{
	background-color: #727c15;
	color:#FFF;	
}

.closed{
	height:0;
	visibility: hidden;
}

.loginform .btn{
	position:relative;
	right: 50%;
	margin-top: 4%;
}

.imgbtn{
	padding: 0;
	border: none;
	background-color: transparent;
}
