			
<div class= "messagegroup" ng-repeat="message in conversation.messages">
		<h4>message {{$index + 1}}</h4>
		<div ng-show="messageedit[$index]">
  		<textarea ng-model = "message.message"></textarea>
  		<div>
  			<button class="btn btn-default" ng-click="cancelEditMessage(message, $index)">cancel</button>
  			<button class="btn btn-default" ng-click="editMessage(message)">save</button>
  		</div>
	</div>
		<p ng-show="!messageedit[$index]" ng-bind-html="message.message | linky:'_blank'"></p>
		<button ng-show="!messageedit[$index]" class="btn btn-default" ng-click= "openEditMessage(message, $index)">edit</button>
		<div>
			<h5>user: {{message.user.lastName}}, {{message.user.firstName}}</h5>
			<h6>last modified: {{message.modified | date:'medium'}}</h6>
		</div>

	</div>
<form class = "addmessage form-horizontal">
  	<div class="form-group">
  		<label for="message">add new message</label>
  	 	<textarea name = "message" id="message" ng-model = "newMessage.message" rows = "5"></textarea>
  	</div>
	<div class="form-group">
		<div>
		<select ng-model = 'newMessage.user' ng-options='user as [user.lastName, space+user.firstName] for user in project.team'>
  			<option value=''>- select commenter -</option>
		</select>
		</div>
  		<button class = "btn btn-default" ng-disabled ="!newMessage.user || !newMessage.message" ng-click="addMessage(newMessage, project._id, conversation._id)">add message</button>
  	</div>
</form>



